
/*============= Color Definition =================*/



/*============= Fonts Definition =================*/

$sans-serif:'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Times New Roman', Tiems, serif;

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:1140px;









