
/*============= Color Definition =================*/
$bg:#fcf0e2;
$text:#4f4f4f;
$link:#f37077;

/*============= Fonts Definition =================*/

$sans-serif: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:1140px;









