
/*============= Color Definition =================*/
$gray-text:#4f4f4f;
$link:#f37077;
$brown:#1b1109;
$brown-superlight:#fff7ed;
$purple:#584d86;
$purple-pot:#3a285d;
$purple-light:#9a91ba;

$blue-light:#dce7e9;
$yellow:#ffcf7b;

/*============= Fonts Definition =================*/

$sans-serif: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;

/****************** Breakpoints Definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:1140px;









