.contact-body{
  @include clearfix();

  position: relative;
  padding:1em 0.5em;
  max-width: $s1;
  margin:0 auto 0 auto;
  h2{
    text-align: left;
    font-size: 1.5em;
  }
  h2 + p {
    text-align:left;
    font-size: 1em;
    a{
      color:$link;
    }
  }

}

.btn-contactclose{
  position: absolute;
  top:0;
  right:0;
  display: inline-block;
  font-size: 4em;
  line-height: 1em;
  text-decoration: none;
  font-weight:900;
  color:$brown-superlight;
  &:hover, &:focus{
    color:$yellow;
  }
  
}
.formitem{
  text-align: left;
  margin:1em 0;
  font-size: 1em;
  line-height: 1.25em;
}
.formactions{
  @include clearfix();
  text-align: center;
  clear:both;

  .btn {
    display: block;
    font-size: 1.25em;
    max-width: none;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: transparent;
    border-color: $purple-light;
    padding: 1em;
  }
}
label{
  //color:$purple;
  text-transform: uppercase;
  display: block;
  padding:0.333em 0; 
  font-size: 1em;
  line-height: 1.25em;
  display: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  background-color: rgba(white,0.9);
  border:none;
  -webkit-appearance:none;
  border-radius: 4px;
  color:$gray-text;
  padding:0.75em;
  width:100%;
  outline-color: $yellow;
  outline-width: 1px;
}

select {
  height:3em;
  border-radius: 0px;
}

