.socialshare {
  h3 {
    font-weight: 300;
    text-transform: uppercase;
    small {
      display: block;
      text-transform: none;
    }
  }
  ul {
    list-style-type: none;
    padding:0;
    margin:1em 0 1em;
  }
  li {
    display: inline-block;
    margin-right: .25em;
  }
  li a {
    display: inline-block;
    font-size: 2em;
    line-height: 1.5;
    height:1.5em;
    width:1.5em;
    text-align: center;

    background-color: $blue-dark;
    color:$yellow;

    &:hover,&:focus {
      background-color: $yellow;
      color:$blue-dark;
    }

  }
}

.content-info{
  @include clearfix();
  position: relative;
  z-index:1;
  font-size: 0.75em;
  padding:1.5em 1.5em;
  background-color: #000;
  color:$brown-superlight;
  //border-top:7px solid $yellow;
  p {
    margin:0;
    @include bp($s2) {
      float:left;
    }
  }
  p.madeby {
    a {
      text-decoration: none;
      color:$yellow;
      //font-weight: 700;
      text-transform: uppercase;
      &:hover, &:focus {
        text-decoration: underline;
      }   
    }
    @include bp($s2) {
      float:right;
    }

  }
}