.banner {
  @include clearfix();
  background-color: $brown;
  padding:1em;
  //border-top:25px solid $gray;
  // @include bp($s2){
  //   position: fixed;
  //   left:0;right:0;
  //   top:0;
  // }
}
.brand {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  float:left;
  height:62px;
  width: 210px;
  background-image: url('../img/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
}