.home-header {
  @include clearfix();
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, fixed;
  background-image:
  linear-gradient(to bottom
    ,rgba(#fff,1)  0%, rgba(#fff,0.25)  100px, rgba(#fff,0)  150px
    //, rgba(#fff,0) 75% ,  rgba(#fff,0.50) 90%, rgba(#fff,1)  100%
    )
    , url('../img/paciens.jpg');
  color:$brown-superlight;


  @include bp($s0){
  }
  @include bp($s1){
  }
  @include bp($s2){
    
  }
  @include bp($s3){
  }
  @include bp($s4){
  }
  &.fullscreen{
  }
}
.homeh-inner {
  @include clearfix();
  padding:0.5em 0.5em;
  max-width: $s4;
  margin:0 auto;
  margin: 140px auto;
  transition: all .4s ease-in;
  //margin-top: 1000px;


  @include bp($s2){
    .fullscreen & {
    }
  }
  @include bp($s2){
  }
}
.home-title {
  font-size: 1.5em;
  font-weight: 300;
  margin:0 0 0 0;
  padding:0 0 0 0;
  text-transform: none;
  max-width: $s3;
  @include bp($s0){
    font-size: 2.5em;
  }
  @include bp($s1){
    font-size: 2em;
  }
  @include bp($s2){
    font-size: 2em;

  }
  @include bp($s3){
    font-size: 3em;

  }
  @include bp($s4){
    font-size: 4em;
  }
}
.home-lead{
  @include clearfix();
  max-width: $s3;
  font-size: 1.5em;
  font-weight: 300;
  @include bp($s2){
  }
  strong, b {
    font-weight: 400;
    color:$blue-light;
  }
  h3{
    margin:0;
  }
  li{
    margin:0.5em 0;
  }
}
.home-headaction {
  margin: 1em 0.5em;
  font-size: 1.5em;
  .btn {
    margin-bottom: 0.5em;
    margin-right: 0.333em;
    min-width: 0;
  }
}


.home-istvan{
  @include clearfix();
  //min-height: 1024px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, local;
  background-color: $blue-dark;
  background-image: 
  linear-gradient(to right, rgba($blue-dark,0) 25% ,  rgba($blue-dark,0.75) 75%, rgba($blue-dark,1)  100%),
  url('../img/doktor_ablaknal_kek.jpg');
  color:$brown-superlight;

  .hist-inner {
    @include bp($s1){
      padding-left: 25%;
      padding-top:6em;
      padding-bottom: 6em;
    }
    @include bp($s1){
      padding-left: 33.333%
    }
  }

  .cv-title{
    color:$yellow;
    font-size: 1.75em;
    margin-top:0;
    
    em {
      display: block;
      text-transform: lowercase;
      color:$brown-superlight;
      font-size: 0.75em;
      font-weight: 300;
      font-variant: small-caps;
    }
  }
  blockquote{
    padding: 0 0;
    font-size: 1.25em;
    //color: $blue-superlight;
  }
  .btn {
    color:$yellow;
    border-color: $yellow;
    font-size: 1em;
    &:hover, &:focus {
      border-color: $blue-superlight;
      color:$blue-superlight;
      background-color: transparent;
    }
  }

}


.callme{
  @include clearfix();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, local;
  background-color: $blue-dark;
  background-image: 
  linear-gradient(to right, rgba($blue-dark,1) 33% ,  rgba($blue-dark,0.5) 75%, rgba($blue-dark,0) 100%)
  ,url('../img/arc_mos.jpg')
  ;
  color:$blue-superlight;
  .callme-inner{
    padding:1.25em 0.5em;
  }
  h3{
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1;
    margin:0.25em 0 0 0;
    vertical-align:bottom;
    //max-width: 320px;
    @include bp($s2){
      float:left;
      margin-right: 1.5em;
    }
  }
  .vege {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1;
    vertical-align:middle;
    margin:0 0;
    float:right;
    // @include bp($s2){
    //   float:left;
    // }
  }
  
  .telicon{
    font-size: 1.25em;
    color:$purple-light;
  }
  .or{
    display: inline-block;
    margin:0 0.75em;
    font-size: 0.75em;
    white-space: nowrap;
  }
  .phone {
    display:inline-block;
    font-size: 0.875em;
    //line-height: 0.5;
    margin-left: 0.25em;
    vertical-align: middle;
    text-decoration: none;
    &:hover, &:focus {
      color:$yellow;
    }

  }
  .btn {
    font-size: 0.75em;
    background-color: $blue-light;
    border-color: $blue-light;
    //color:$yellow;
    //border-color: $yellow;
    //font-size: 1em;
    &:hover, &:focus {
      border-color: $blue-superlight;
      background-color: $blue-superlight;
      color:$purple-pot;
      //background-color: transparent;
    }
  }

}

.feat-treats{
  @include clearfix();
  position: relative;
  background-color: #fff;
  .ftreat-head{
    @include clearfix();
    position: absolute;
    width: 100%;
    padding:0 0.5em;
    margin:4em 0 0 0;
    text-align: center;
    h4{
      text-transform: uppercase;
      font-weight: 100;
      font-size: 2.5em;
    }
    .nav-tabs {

    }

  }
  
  hr{
    clear: both;
    border-width: 0;
    
  }  
  .btn {
    margin:1em 0;
    font-size: 0.75em;
    float:right;
  }

  .tab-pane{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    padding-top: 12em;
  }

  .kezeleslist {
    background-color: transparent;
    padding-bottom: 4em;
    @include bp($s2){
      min-height: 600px;
      
    }
  }

}


.callme-inner,.hist-inner{
  @include clearfix();
  margin:0 auto;
  max-width: $s3;
  padding:0 0.5em;
}