.kezeleslist{
  @include clearfix();
  background-color: $brown-superlight;
  //background-color:#000;
  padding:4em 0.5em;
}

.kezeleslist-inner{
  @include clearfix();
  max-width: $s1;
  margin:0 auto;
  //text-align: center;
  @include bp($s1){
    max-width: $s1;
  }
  @include bp($s2){
    max-width: $s2;
  }

  @include bp($s3){
    max-width: $s3;
  }
  @include bp($s5){
    max-width: $s4;
  }

  > h1 {
    max-width: $s3;
    margin:1em auto;
    text-align: center;
  }
  > h2 {
    max-width: $s2;
    margin:1em auto;
    @include bp($s4){
      max-width: $s3;
    }
  }
}



.kezeleslist .kezeles {
  //@include clearfix();
  text-align: left;
  margin:1em 0;
  display: block;

  &:hover, &:focus{
    .entry-subtitle{
      top:0;
    }    
  }



  @include bp($s1){
    float:left;
    width:48%;
    margin:1em 1%;
    &:nth-of-type(2n+1){
      clear:left;
    }
  }

  @include bp($s2){
    width:31%;
    margin:1em calc (7% / 6);
    &:nth-of-type(2n+1){
      clear:none;
    }
    &:nth-of-type(3n+1){
      clear:left;
    }
  }

  @include bp($s3){
    width:23%;
    margin:1em 1%;
    &:nth-of-type(3n+1){
      clear:none;
    }
    &:nth-of-type(4n+1){
      clear:left;
    }
  }
  @include bp($s5){
    width:18%;
    margin:1em 1%;
    &:nth-of-type(4n+1){
      clear:none;
    }
    &:nth-of-type(5n+1){
      clear:left;
    }
  }

  a{
    color:$brown-superlight;
    text-decoration: none;
    &:hover, &:focus{
      color:$yellow;
    }
  }
  figure {
     a {
      img{

      }
    }
  }
  header{
    position: relative;
    overflow: hidden;
  }

  .entry-title{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 0;
    font-size:1.125em;
    background-image: linear-gradient(to bottom, rgba(#000,0.75) 0%,  rgba($blue-dark,0.25) 50%,rgba($blue-dark,0.01) 100%);
    padding:0.75em 7px;
    margin:0 0;

  }
  .entry-subtitle{
    transition:top .25s ease-in;
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    bottom:0;
    z-index: 1;
    background-color: $blue-dark;
    font-size:14px;
    font-weight: 300;
    padding:0.75em 7px;
    margin:0 0;
    color:#fff;
    font-weight: 300;
    //display: none;


  }
  .entry-summary{
    padding:0.5em 7px;
    font-weight: 500;
    font-size: 12px;
    //display:none;
    ul{
      margin:0 0;
    }
    a{
      color:$purple-light;
      &:hover, &:focus{
        color:$yellow;
      }
    }
  }
}



/************ Single Kezeles Style *******/

.treat-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //position:relative;
  
  //background-color: rgba(black,0.33);
  color:$brown;
  //max-width: $s2;
  //margin-right: 50%
  //padding:2em;
  @include bp($s1){
    //margin-right: 25%;
  }
  @include bp($s2){
    
  }
  @include bp($s3){

    min-height: 500px;
    height: 700px;
  }
  @include bp($s4){
    //margin-right: 50%;
  }
}
.trh-inner {
  @include clearfix();
  padding:0.5em 0.5em;
  max-width: $s4;
  margin:0 auto;


  @include bp($s2){
    .fullscreen & {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include bp($s2){
    padding:20px 20px 20px 20px;
  }


}
.treat-title {
  //padding:3em 2em 0 0.75em;
  color:$blue-light;
  //text-shadow:0px 0px 5px $purple;
  font-size: 2.5em;
  font-weight: 100;
  //background-color: rgba($purple,0.75);
  margin:0 0 0 0;
  padding:0 0 0 0;
  //text-align: right;
  @include bp($s0){
    font-size: 3em;
  }
  @include bp($s1){
    font-size: 4em;
  }
  @include bp($s2){
    font-size: 5em;

  }
  @include bp($s3){
    font-size: 6em;

  }
}
.treat-headaction {
  margin: 1em 0;
  font-size: 1.5em;
  .btn {
    margin-bottom: 0.5em;
    min-width: 0;
  }
}


.treat-lead{
  @include clearfix();
  max-width: $s3;
  //background-color: rgba($purple,1);
  color:$blue-light;
  font-size: 1.5em;
  font-weight: 300;
  //margin-bottom:1em;
  @include bp($s2){
    //margin-right: 25%;
  }
  strong, b {
    font-weight: 400;
    color:$blue-light;
  }
  h3{
    margin:0;
    //display:none;
  }
  li{
    margin:0.5em 0;
  }
}
.treat-content {
  border-top: 200px solid #fff;
  border-bottom: 200px solid #fff;
  @include clearfix();
  padding:2.5em 0.5em;
  color:$brown-superlight;
  background-color: $blue-dark;
  background-image: url('../img/doktor_ablaknal.jpg');
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;

  font-size: 1.25em;
  @include bp($s0){
    padding:3em 1em;
    //max-width: 42em;
  }
  @include bp($s1){
    padding:3em 1.5em;
    //max-width: 42em;
  }
  @include bp($s2){
    padding:5em 1.5em 5em 250px;
    //max-width: 42em;

  }
  @include bp($s3){
    padding:5em 1.5em 5em 350px;
    //max-width: 42em;
  }
}
.treat-slogan{

  padding:0 0 0 0;
  font-size: 1.75em;
  //font-style: italic;
  font-weight: 100;
  //text-shadow:0px 0px 5px $purple;
  font-style: italic;
  @include bp($s2){
    //margin-right: 33%;
    //float:left;
    //width:33%;
  }
}

.treat-related{
  
}

