html {
  background-color: white;
  //padding:20px;
}
body {
  @include clearfix();
  position: relative;
  background-color: $brown-superlight;
  color:$blue-light;
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.jobbcsi {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}