html {
  background-color: white;
  //padding:20px;
}
body {
  @include clearfix();
  position: relative;
  background-color: $brown-superlight;
  color:$blue-light;
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.jobbcsi {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  @include clearfix();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .single-post &, .page & {
    background-color: $brown-superlight;
    @include bp($s0){
      padding-top:100px;
    }
  }
  .blog &, .archive &, .page-template-template-home-php &{
    //background-color: $blue-dark;
    //background-size: 50% auto;
    @include bp($s0){
      padding-top:0;
    }
  }

}