body {
  background-color: $brown-superlight;
  color:$gray-text;
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}