.contentnav {
  @include clearfix();
  background-color: white;
  ul {
    text-transform: uppercase;
    //font-weight: 700;
    counter-reset: navcount;
  }
  li {
  list-style-type: none;
  display: inline-block;
  counter-increment: navcount;

    a{
      display: inline-block;
      padding:0.25em 1em;
      text-decoration: none;
      &:before{
        content: counter(navcount)'.';
        margin-right: 0.25em;
        font-size: 1.25em;
        line-height: 0.875em;
        font-weight: 900;
        font-variant: normal;
        //font-style: italic;
        color:gray;
      }
      
    }
  }



}