.nav-main {
  float:right;
  .btn-main{
    display: inline-block;
    //margin:0.75em 0 0;
    padding:0.5em 1em;
    background-color: rgba($purple,0.75);
    border:1px solid $purple;
    border-radius: 4px;
    font-size: 0.75em;
    line-height: 1em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    small{
      font-size: 75%;
      letter-spacing: 1px;
      font-weight: 700;
      display: block;
      //text-transform: none;
    }
    &:hover, &:focus{
      background-color: rgba($purple,1);
      border-color: #fff;
    }

  }
  ul{
    display: inline-block;
    margin:0;
    padding:0;
  }


  .dropdown{
      > .dropdown-menu {
        position: absolute;

        left:0;right:0;
        width:100%;
        padding:2em 1em;
        display: none;
        background-color: rgba($purple,0.95);
        
        li{
          display: block;
          margin-left:0;
          @include bp($s1) {
            float:left;
            width:50%;
          }
          @include bp($s2) {
            width:25%;
          }

          a{
            color:#fff;
            line-height: 1.25em;
            padding:0.5em 1em;
            height:auto;
            &:hover, &:focus{
              color:$yellow;
              background-color: transparent;
            }
          }
        }

        .dropdown-menu {
          position: static;
          display: block;
          background-color: transparent;
          padding:1em 0;
          li {
            display: block;
            width:auto;
            float:none;
            a{
              text-transform: none;
            }
          }
        }
        

      }
      &.open{
        > .dropdown-toggle {
          background-color: rgba($purple,0.95);
        }
        > .dropdown-menu{
          display: block;
          
          
        }
      }
    }

  

  li{
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;


    a{
      display: inline-block;
      color:$brown;
      text-transform: uppercase;
      text-decoration: none;
      //margin-top: 20px;
      height:97px;
      font-size: 0.875em;
      line-height: 97px;
      font-weight: 300;
      padding:0 1em;
      transition: all .25s ease;
      &:hover, &:focus{
        color:#fff;
        background-color: rgba($purple,0.75);
      }
      
      .fixedhead & {
        height:66px;
        line-height: 66px;
      }

    }
  }

}


.contentnav {
  @include clearfix();
  position: relative;
  background-color: rgba($gray-text,1);
  padding-right: 12em;
  // @include bp($s2){
  //   position: fixed;
  //   left:0;right:0;
  //   bottom:0;
  //   z-index:3;
  // }
  ul {

    text-transform: uppercase;
    counter-reset: navcount;
    display: inline-block;
    margin:1em 0;
    padding:0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    counter-increment: navcount;
    margin:0;


    a{
      display: inline-block;
      padding:0.25em 1em;
      text-decoration: none;
      color:$purple-light;
      font-size: 1em;
      font-weight: 300;
      &:before{
        content: counter(navcount)'.';
        margin-right: 0.25em;
        font-size: 1.25em;
        line-height: 0.875em;
        font-weight: 900;
        font-variant: normal;
        //font-style: italic;
        color:gray;
      }
      &:hover, &:focus{
        color:#fff;
      }
      
    }
  }
  .bigbtn{
    position: absolute;
    display: block;
    right:0;
    top:0;
    bottom:0;
    width:12em;
    background-color: $gray;
    text-align: center;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    //padding:1.5em 0;
    color:$yellow;
    text-decoration: none;
    padding-top: 1em;
    span{
      font-size: 0.75em;
    }
    &:hover, &:focus {
      color: $brown;
      background-color: $yellow;
    }

  }
}



.subsec-nav {
  @include clearfix();
  //position: relative;
  //background-color: #000;
  //padding-right: 12em;
  // @include bp($s2){
  //   position: fixed;
  //   left:0;right:0;
  //   bottom:0;
  // }

  .subsec-navhead{
    @include clearfix();
    //background-color:$purple;
    text-align: left;
    padding:1em 0.5em 2em 0.5em;
    @include bp($s3){
       padding:1em 1em 3em 1em; 
    }

    .subsec-navlogo{
        text-indent: 9999px;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        height:40px;
        width: 100%;
        background-image: url('../img/logo_szurke_kicsi.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin-bottom: 3em;
        
        @include bp($s2){
          //height:40px;
          //width:160px;

        }
    }

    h3{
    
    color:$brown-light;
    text-transform:uppercase;
    text-align: left;
    margin:0;
    padding:0;
    font-size: 1.666em;
    font-weight: 300;
    }
    .subsec-navbread {
      a {
        color:$yellow;
        text-decoration: none;
        font-size:1.25em;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    
  
  }
  ul {
    counter-reset: navcount;
    //display: inline-block;
    margin:1em 0;
    padding:0;
    text-align: left;
  }
  li {
    list-style-type: none;
    display: block;
    counter-increment: navcount;
    margin:0;


    a{
      display: block;
      padding:0.75em 0.5em 0.75em 0.5em;
      //text-indent: -1.15em;
      text-decoration: none;
      color:$white;
      font-size: 0.875em;
      line-height: 1.125;
      font-weight: 300;
      //font-variant: small-caps;
      text-transform: uppercase;
      color:$brown-superlight;
      // &:before{
      //   content: counter(navcount)'.';
      //   margin-right: 0.25em;
      //   font-size: 0.875em;
      //   line-height: 1em;
      //   font-weight: 900;
      //   font-variant: normal;
      //   //font-style: italic;
      //   color:$white;
      // }
      &:hover, &:focus{
        color:$yellow;
      }
      @include bp($s3){
       padding:0.75em 1em 0.75em 1em; 
      }
      
    }
    
    &.active a{
      //background-color: $purple;
      color:$yellow;
    }

  }
}