.nav-main {
  float:right;
  ul{
    margin:0;
  }
  li{
    list-style-type: none;
    display: inline-block;

    a{
      display: inline-block;
      color:$brown-superlight;
      text-transform: uppercase;
      text-decoration: none;
      height:62px;
      font-size: 0.875em;
      line-height: 62px;
      font-weight: 400;
      padding:0 1em
    }
  }
}
.contentnav {
  @include clearfix();
  background-color: #000;
  @include bp($s2){
    //margin-right: 25%;
    //background-color: $blue-light;
  }
  ul {
    text-transform: uppercase;
    counter-reset: navcount;
    display: inline-block;
  }
  li {
  list-style-type: none;
  display: inline-block;
  counter-increment: navcount;

    a{
      display: inline-block;
      padding:0.25em 1em;
      text-decoration: none;
      color:$yellow;
      font-size: 1.125em;
      font-weight: 300;
      &:before{
        content: counter(navcount)'.';
        margin-right: 0.25em;
        font-size: 1.25em;
        line-height: 0.875em;
        font-weight: 900;
        font-variant: normal;
        //font-style: italic;
        color:gray;
      }
      
    }
  }



}