.subsections {
  @include clearfix();
  position: relative;
  //background-color: $blue-dark;

}
.subsec{
  @include clearfix();
  position: relative;
  
  //background-color: #fff;
  
  background-image:url('../img/pattern-x.png');
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
  background-size: auto auto;



  
  .subsec-inner {
    @include clearfix();
    //background-color:$brown-superlight;
    //background-color:#fff;

    // background-image: url('../img/doki_korbevagva.png');
    // background-position: 2em bottom;
    // background-size: auto 400px;
    // background-repeat: no-repeat;
  }
  &:nth-child(odd){

    .subsec-inner {
     // background-color:#fff;

    }
  }
  &:last-child{
    //margin-bottom: 0;    
  }

  @include bp($s1){
    //float:right;
    //width: calc(100% - 7px);
    border-left:7px solid $blue-dark;
  }
  @include bp($s2){
    //width: calc(100% - 35px);
  }
  @include bp($s3){
    float:right;
    width: calc(100% - 300px);
    border-left: none;
  }
  @include bp($s4){
    width: calc(100% - 350px);
  }
  @include bp($s5){
    width: calc(100% - 550px);
  }
}

.subsec-inner{
  //max-width: 700px;
  padding:0 0.5em;

  
  @include bp($s0){
    padding:0 1em;
    //max-width: 42em;
  }
  @include bp($s1){
    padding:2em 1em;
    //max-width: 42em;
  }
  @include bp($s2){
    padding:2em 2em;
    //max-width:42em;
  }
  @include bp($s3){
    padding:2em 2em;
  }
}

.subsec-header{
  @include clearfix();
  position: relative;
  //background-color: $brown-superlight;
  
  // background-color: #fff;
  // background-image:url('../img/pattern-x.png');
  // background-attachment: fixed;
  // background-repeat: repeat;
  // background-position: center center;
  // background-size: auto auto;




  .single-post & {
    //background-color: $blue-light;
    //color:$brown-superlight;
  }
  &:before{
      display: block;
      content:'';
      position: absolute;
      top:0;
      right:100%;
      bottom:0;
      width:7px;

      //height:0.5em;
      background-color: $yellow;
  }

  .ss-hinner{
    padding:2em 0.5em;
    margin:0 auto;
    max-width: 42em;

  
    @include bp($s0){
      padding:2em 1em;
      //max-width: 42em;
    }
    @include bp($s1){
      padding:2em 0.5em;
      //max-width: 42em;
    }
    @include bp($s2){
      padding:2em 0;
      //max-width:42em;
    }
    @include bp($s3){
      padding:2em 2em;
       max-width: 46em;
    }
    @include bp($s4){
      padding:2em 0;
       max-width: 42em;
    }
    

  }
    
  .subsec-title {
    position: relative;
    font-size: 2.25em;
    font-weight: 100;
    margin:0;
    padding:0;

    @include bp($s1){
      font-size: 2.5em;
    }
    @include bp($s2){
      font-size: 3.5em;
    }
    @include bp($s3){
      font-size: 3.5em;
    }
  }
  .subsec-meta {
  }
}

.subsec-cont {
  margin:0 auto;
  max-width: 42em;


  .subsec-figure{
    padding: 0.5em;
    border: 1px solid $purple-light;
    @include bp($s1) {
      max-width: 33.333%;
      float:right;
      margin-left:1em;
    }
     
    img{
      
    }
    .caption{
      display: none;
    }
  }
}

.subsec-action{
  font-size: 1.5em;
  padding:0 0.5em;
  background-color: #fff;

  
  @include bp($s0){
    padding:0 1em;
    //max-width: 42em;
  }
  @include bp($s1){
    padding:2em 1em;
    //max-width: 42em;
  }
  @include bp($s2){
    padding:2em 2em;
    //max-width:42em;
  }
  @include bp($s3){
    padding:2em 2em;
  }

  .callme{
    margin:0 auto;
    max-width: 28em;
  }

}
