.subsections {
  @include clearfix();
  position: relative;
  background-color: $blue-dark;

}
.subsec{
  @include clearfix();
  position: relative;
  
  .subsec-inner {
    @include clearfix();
    background-color:$brown-superlight;
    //background-color:#fff;
  }
  &:nth-child(odd){

    .subsec-inner {
     // background-color:#fff;

    }
  }

  @include bp($s1){
    float:right;
    width: calc(100% - 7px);
  }
  @include bp($s2){
    width: calc(100% - 35px);
  }
  @include bp($s3){
    width: calc(100% - 300px);
  }
  @include bp($s4){
    width: calc(100% - 350px);
  }
}

.subsec-inner{
  //max-width: 700px;
  padding:0 0.5em;

  
  @include bp($s0){
    padding:0 1em;
    //max-width: 42em;
  }
  @include bp($s1){
    padding:2em 1em 4em;
    //max-width: 42em;
  }
  @include bp($s2){
    padding:2em 2em 6em;
    //max-width:42em;
  }
  @include bp($s3){
    padding:2em 2em 6em;
  }
}

.subsec-header{
  position: relative;
  background-color: rgba($blue-dark,1);
  color:$yellow;
  padding:2em 1em;

  @include bp($s1){
    text-align: right
  }
  @include bp($s2){
    padding:2em 5em;

  }
  @include bp($s3){
    padding:2em 5em;

  }
  &:before{
      display: block;
      content:'';
      position: absolute;
      top:0;
      right:100%;
      bottom:0;
      width:7px;

      //height:0.5em;
      background-color: $yellow;
  }
    
  .subsec-title {
    position: relative;
    font-size: 2.25em;
    font-weight: 100;
    margin:0 0;
    @include bp($s1){
      font-size: 2.5em;
    }
    @include bp($s2){
      font-size: 3.5em;
    }
    @include bp($s3){
       font-size: 3.5em;
    }

    
  }
}

.subsec-cont {
  margin:0 auto;
  max-width: 42em;
  
  .subsec-action{
    text-align: center;
    margin:2em 0 2em 0;
    font-size: 1.5em;
    .btn{
      min-width: 50%;
    }
    //text-align: center;
  }
}
