.archive {
	.main{
		
	}
}

.itemlist{
  @include clearfix();
  //background-color:#000;

  padding:4em 0.5em;
 
}

.itemlist-inner{
  > h1 {
    max-width: $s3;
    margin:1em auto;
    text-align: center;
  }
  > h2 {
    max-width: $s2;
    margin:1em auto;
    @include bp($s4){
      max-width: $s3;
    }
  }
  @include clearfix();
  max-width: $s3;
  margin:0 auto;
  @include bp($s3){
    max-width: $s3;
  }
  @include bp($s5){
    max-width: $s4;
  }
}

.posztok{
   background-color: #fff;
  //background-color: $blue-superlight;
  //color:#fff;
  //font-size: 0.875em;
  //background-image: linear-gradient(to bottom, $blue-superlight, #fff)
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //background-image: url(../img/mell_bg.jpg);
  //background-image: none;
  a{
    //color:#fff;
  }
}



/******** Single Post Style *******/

.single {
  .post{
    .entry-figure{
      //display: none;
      margin:1em -0.5em;
      @include bp($s1){
        float:right;
        max-width:33.333%;
        margin:0.5em 0 0.5em 0.5em;
      }
    }
  }
}


/******** Blog/Archive List Post Style *******/

.archive, .blog {
  .post, .page{
    @include clearfix();
    max-width: $s2;
    margin:1em auto;

    @include bp($s4){
      width:48%;
      margin:3em 1%;
      float:left;
      &:nth-of-type(2n+1) {
        clear:left;
      }
    }
    @include bp($s5){
      width:31%;
      margin:3em calc(7% / 6);
      &:nth-of-type(2n+1) {
        clear:none;
      }
      &:nth-of-type(3n+1) {
        clear:left;
      }
    }

    // @include bp($s5){
    //   width:23%;
    //   margin:1em 1%;
    //   &:nth-of-type(3n+2) {
    //     clear:none;
    //   }
    //   &:nth-of-type(4n+2) {
    //     clear:left;
    //   }
    // }
    .entry-cat{
      display: inline-block;
      background-color: $gray;
      color:$brown-superlight;
      padding:0.25em 0.5em;
      text-transform: uppercase;
      //font-variant: small-caps;
      font-weight: 900;
      font-size: 0.75em;
      margin-bottom: 0.25em;
      a{

        text-decoration: none;
        color:$brown-superlight;
        &:hover, &:focus{
          color:$yellow;
        }
      }
    }
    time{
      font-size: 0.875em;
      font-weight: 300;
      font-variant: small-caps;
      color:$blue-light;
    }
    .entry-title{
      //font-size: 2em;
      margin:0;
    }
    .entry-summary{
      > p {
        a {
          display:none;
        }
      }
      > p:first-letter { 
          float: left;
          color: $blue-light;
          font-size: 3em;
          line-height: 1em;
          padding-right:0.125em;
          font-weight: 300;
          text-transform:uppercase;
          //font-family: Georgia;
      }
      .btn{
        font-size: 0.75em;
      }
    }

  }
}
