/**** Kezelésekhez kapcsolódó cikkek ******/
.related-entries{
  @include clearfix();

  .post, .page {
    margin:3em 0;
    font-size:0.875em;
    
    @include bp($s2){
      width:50%;
      float:left;
      padding-left:1.5em;
      
      &:nth-child(2n+1){
        clear:left;
        padding-right:1.5em;
        padding-left:0;
        
      }
    }
    .entry-title{
      font-size:1.25em;
      text-transform: none;
      font-weight: 500;
      a{
        color:$white;
        &:hover, &:focus{
          color:$yellow;
        }
      }
    }
    .entry-cat{
      display:none;
    }
    .entry-time {
      display:none;
    }
    .entry-summary{
      > p {
        a {
          display:none;
        }
      }
      // > p:first-letter { 
      //     float: left;
      //     color: $white;
      //     font-size: 3em;
      //     line-height: 1;
      //     padding-right:0.125em;
      //     font-weight: 300;
      //     text-transform:uppercase;
      //     //font-family: Georgia;
      // }

      > p:first-letter { 
          float: none;
          color: inherit;
          font-size: inherit;
          line-height: inherit;
          padding-right:0;
          font-weight: inherit;
          text-transform:inherit;
          //font-family: Georgia;
      }

      .btn{
        font-size: 0.875em;
        color:$white;
        border-color:$white;
        &:hover, &:focus{
          background-color:transparent;
          border-color:$yellow;
          color:$yellow;
        }

      }
    }

  }

}