.sidebar-contact{
  background-color: $gray-superdark;
  .sidebar-inner {
    padding:2em 1em;
    text-align: center;
    @include bp($s2){
      padding:1em 1em;
    }

  }
  
  .clogo{
    @include bp($s2){
      width:33.333%;
      float:left;
      text-align: left;
    }
    img{
      max-width: 16em;
    }
  }

  .kozepe{
    padding:1em 1em;
    @include bp($s2){
      width:33.333%;
      float:left;
      padding:0.5em 2em;

    }
    a{
      font-size: 1.25em;
      //font-weight: 900;
      display: block;
      color:$brown-superlight;
      text-decoration: none;
    }

  }

  .btn{
    //font-size: 0.875em;
    margin-top: 0.75em;
    @include bp($s2){
      float:right;
    }
  }

}

.sidebar-inner {
    @include clearfix();
    position:relative;
    padding:1em 0;
    max-width: $s4;
    margin:0 auto;
  }
.sidebar{
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, local;
  background-color: $gray-superdark;
  background-image: 
  linear-gradient(to right, rgba($gray-superdark,0.95) 33% ,  rgba($gray-superdark,0.75) 90% )
  ,url('../img/paciens.jpg')
  ;
  color:$brown-superlight;

  
  a {
    color: $yellow;
    text-decoration: none;
    &:hover, &:focus {
      color: #fff;
    }
    &:active {
      color: $brown-superlight;
    }
  }
  .widget {
    @include clearfix();
    @include bp($s2){
      width:66.666%;
    }
    @include bp($s4){
      width:60%;
    }


    .felezve{
      @include bp($s1){
        float:left;
        width:50%;
        padding:0 1em;
      }
    }

    h3{
      text-transform: uppercase;
      //font-variant: small-caps;
      font-size: 1.25em;
      font-weight: 300;
      color: $brown-light;
    }

    h4{
      font-size: 1em;
      font-weight: 700;
      margin:2.5em 0 0.5em 0;
      text-transform: uppercase;
      color: $gray;
      + p {
        //margin-top: 0;
      }
    }
    p{
      strong{
      }

    }

  }
}
.sidebar-search{
  background-color: $gray-superdark;
  min-height: 6em;
}

.subsec-featured {
  @include clearfix();
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  padding:2em 1em 1.5em;
  border-top: 1px solid $blue-light;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, local;
  background-color: $blue-dark;
  background-image: 
  linear-gradient(to right, rgba($blue-dark,1) 33% ,  rgba($blue-dark,0.5) 75%, rgba($blue-dark,0) 100%)
  ,url('../img/arc_mos.jpg')
  ;
  color:$blue-superlight;
  text-align: center;
  font-size: 14px;
  //text-align: left;
  h3 {
    margin:0 0 0.5em;
    text-transform:uppercase;
    font-weight: 300;
    font-size: 1.5em;
  }
  p{
    font-size: 1.25em;
    margin:0;
    a{
      text-decoration: none;
      &:hover, &:focus {
        color:$yellow;
      }
    }
  }
  .or{
    display: block;
    font-size: 0.75em;
    margin:0 1em 0.666em 1em;
  }
  .btn {
    font-size: 0.875em;
    background-color: $blue-light;
    border-color: $blue-light;
    &:hover, &:focus {
      border-color: $blue-superlight;
      background-color: $blue-superlight;
      color:$purple-pot;
    }
  }
}

.subsec-sidebar{
  @include clearfix();
  color:$brown-superlight;
  position: relative;
  padding:0 0;
  margin:0 0;
  //opacity: 0;
  //text-align:center;
  //left:-350px;
  transition: all .5s ease-in;
  background-color: $blue-dark;
  //background-image: url('../img/logo_fuggo_signos.png');
  background-image: url('../img/istvan_szilikonnal.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @include bp($s1){
  }
  @include bp($s2){
  }
  @include bp($s3){
    clear:left;
    float:left;
    width: 300px;
  }
  @include bp($s4){
    width: 350px;

  }
  @include bp($s5){
    width: 550px;
    font-size: 1.25em;

  }
  &.fixed {
    position:fixed;
    left:0; top:0;
    bottom:0;
    z-index:0;
    @include bp($s2){
      float:none;
    }
    &.bottom {
      position:absolute;
      left:0;
      bottom:0;
      top:auto;
    }

  }
  
}

.sss-inner{
  position: absolute;
  left:0; right:0;
  top:0;bottom:0;
  background-color: rgba($blue-dark,0.85);
  //filter:blur(2px);
}

.nyomjad {
  display: inline-block;
  text-align: center;
  margin:4em 2em;
  padding:1em 2em;
  //background-color: $yellow;
  border:1px solid $purple-light;
  border-radius:4px;
  color:$purple-light;
  text-transform: uppercase;
  font-size:1em;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
}
.brandi {

  position: absolute;
  bottom:1em;
  left:3em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height:202px;
  width: 219px;
  background-image: url('../img/logo_fuggo_signos.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .25s ease;
  display: none;
  
}