.sidebar{
  @include clearfix();
  position:relative;
  padding:2em 0;
  background-color: $gray-superdark;
  color:$brown-superlight;
  a {
    color: $yellow;
    text-decoration: none;
    &:hover, &:focus {
      color: #fff;
    }
    &:active {
      color: $brown-superlight;
    }
  }
  .widget {
    padding:0.5em;
    @include bp($s1){
       width:50%;
       float:left;
       &:nth-child(2n+1){
        clear:left;
       }
    }
    @include bp($s3){
       width:25%;
       &:nth-child(2n+1){
        clear:none;
       }
    }

    h3{
      text-transform: uppercase;
      //font-variant: small-caps;
      font-size: 1.25em;
      font-weight: 300;
      color: $brown-light;
    }
  }
}

.subsec-sidebar{
  position: relative;
  padding:4em 0 4em;
  //opacity: 0;
  text-align:center;
  //left:-350px;
  transition: all .5s ease-in;
  background-color: $blue-dark;
  background-image: url('../img/logo_fuggo_signos.png');
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: 180px auto;

  @include bp($s1){
  }
  @include bp($s2){
  }
  @include bp($s3){
    float:left;
    width: 300px;
  }
  @include bp($s4){
    width: 350px;
  }

  &.fixed {
    position:fixed;
    left:0; top:0;
    bottom:0;
    opacity:1;
    z-index:0;
    @include bp($s2){
      float:none;
    }
  }
}


.nyomjad {
  display: inline-block;
  text-align: center;
  margin:4em 2em;
  padding:1em 2em;
  //background-color: $yellow;
  border:1px solid $purple-light;
  border-radius:4px;
  color:$purple-light;
  text-transform: uppercase;
  font-size:1em;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
}
.brandi {

  position: absolute;
  bottom:1em;
  left:3em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height:202px;
  width: 219px;
  background-image: url('../img/logo_fuggo_signos.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .25s ease;
  display: none;
  
}