.sidebar-contact{
  position: relative;
  z-index:1;
  background-color: $gray-superdark;
  .sidebar-inner {
    padding:2em 1em;
    text-align: center;
    @include bp($s2){
      padding:1em 1em;
    }

  }
  
  .clogo{
    @include bp($s2){
      width:33.333%;
      float:left;
      text-align: left;
    }
    img{
      max-width: 16em;
    }
  }

  .kozepe{
    padding:1em 1em;
    font-size:0.875em;
    @include bp($s2){
      width:33.333%;
      float:left;
      padding:0.5em 2em;

    }
    a{
      font-size: 1.25em;
      //font-weight: 900;
      display: block;
      color:$brown-superlight;
      text-decoration: none;
      &:hover, &:focus {
        color:$purple-light;
      }
    }

  }

  .btn{
    font-size: 0.875em;
    margin-top: 0.666em;
    padding:1.333em 1.5em;
    @include bp($s2){
      float:right;
    }
  }

}

.sidebar-inner {
    @include clearfix();
    position:relative;
    padding:1em 0;
    max-width: $s4;
    margin:0 auto;
  }
.sidebar{
  position:relative;
  z-index:1;
  background-position: center 95%, center center;
  background-repeat: no-repeat;
  background-size: 75% auto, cover;
  background-color: $gray-superdark;
  background-image: url('../img/drbulyovszky_footer.png'), url('../img/footer_bg.jpg');
  color:$brown-superlight;
  @include bp($s1){
    background-size: auto, auto 100%;
  }
  @include bp($s2){
    background-position: 95% 93%, right top;
    background-size: auto, auto 100%;
  }

  .sidebar-inner{
    padding: 2em 0 8em;
    @include bp($s2){
      padding-bottom: 6em;
    }
  }
  
  a {
    color: $yellow;
    text-decoration: none;
    &:hover, &:focus {
      color: #fff;
    }
    &:active {
      color: $brown-superlight;
    }
  }
  .widget {
    @include clearfix();
    padding:0 1em;
    @include bp($s2){
      width:66.666%;
      float:left;
    }
    @include bp($s4){
      //width:60%;
    }


    .felezve{
      @include bp($s1){
        float:left;
        width:50%;
        padding-right:1em;
        &:last-child{
          padding-right:0;
          padding-left: 1em;
        }
      }
    }

    h3{
      font-size: 1em;
      font-weight: 700;
      margin:2.5em 0 0.5em 0;
      text-transform: uppercase;
      color: $gray;
    }

    h4{
      font-size: 1em;
      font-weight: 700;
      margin:2.5em 0 0.5em 0;
      text-transform: uppercase;
      color: $gray;
      + p {
        //margin-top: 0;
      }
    }
    p{
      strong{
      }

    }

  }

  .widget-menu {
    @include bp($s2){
      width:33.333%;
    }
  }
}
.sidebar-search{
  position: relative;
  z-index:1;
  background-color: $gray-superdark;
  .social-icons{
    margin:1em 0 0;
    padding:0 1em;
    height:3empx;
    overflow: hidden;
    text-align: center;
    @include bp($s2){
      margin:.5em 0;
      float:left;
      width:33.333%;
      text-align: left;
    }
    a {
      display: inline-block;
      //margin-right:5px;
      width:1em;
      height: 1em;
      //margin-right: .25em;
      //border:2px solid $gray;
      //background-color: $gray;
      text-align: center;
      font-weight: 900;
      font-size: 2em;
      line-height: 1;
      color: white;
      text-decoration: none;
      overflow: hidden;
      &:hover, &:focus{
        //border: 3px solid $yellow;
        //background-color: white;
        color: $yellow;
      }


    }
  }

  .search-form{
    padding:1em 1em;
    text-align: center;
    @include bp($s2){
      float:left;
      width:66.666%;
      text-align: right;
      padding:0.5em 1em 0;
    }
    input[type="search"] {
      width:50%;
      max-width: 15em;
      background-color: $gray-dark;
      border: 1px solid $gray-dark;
      padding:0.5em;
      color:$yellow;
      outline-width: 0;
      outline-color: transparent;
      &:hover, &:focus{
        border: 1px solid #000;
      }
    }
    label{
      display:none;
    }
  }
}

.subsec-featured {
  @include clearfix();
  bottom:0;
  left:0;
  right:0;
  padding:2em 1em 1.5em;
  text-align: left;
  //border-top: 1px solid $blue-light;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, local;
  /*
  background-color: $blue-dark;
  background-image: 
  linear-gradient(to right, rgba($blue-dark,1) 33% ,  rgba($blue-dark,0.5) 75%, rgba($blue-dark,0) 100%)
  ,url('../img/arc_mos.jpg')
  ;
  */
  color:$blue-superlight;
  font-size: 14px;
  text-align: center;
  @include bp($s3){
    position: absolute;
  }
  h3 {
    margin:0 0 0.5em;
    text-transform:uppercase;
    font-weight: 300;
    font-size: 1.5em;
  }
  p{
    font-size: 1.25em;
    margin:0;
    line-height: 1.75;
    a{
      text-decoration: none;
      color:$link;
      &:hover, &:focus {
        color:$yellow;
      }
    }
  }
  .or{
    display: block;
    font-size: 0.75em;
    margin:0 1em 0.666em 1em;
  }
  .btn {
    margin-top: 0.25em;
    font-size: 0.875em;
    background-color: $blue-light;
    border-color: $blue-light;
    color:white;
    &:hover, &:focus {
      border-color: $blue-superlight;
      background-color: $blue-superlight;
      color:$purple-pot;
    }
  }
  i{
    //display: none;
  }
}

.subsec-sidebar{
  @include clearfix();
  color:$brown-superlight;
  position: relative;


  padding:0 0;
  margin:0 0;
  //opacity: 0;
  //text-align:center;
  //left:-350px;
  transition: all .5s ease-in;
  background-color: $blue-dark;
  //background-image: url('../img/logo_fuggo_signos.png');
  background-image: url('../img/istvan_szilikonnal.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include bp($s1){
  }
  @include bp($s2){
  }
  @include bp($s3){
    clear:left;
    float:left;
    width: 300px;
    background-position: center bottom;


  }
  @include bp($s4){
    width: 350px;

  }
  @include bp($s5){
    width: 550px;
    font-size: 1.25em;

  }
  &.fixed {
    position:fixed;
    left:0; top:0;
    bottom:0;
    z-index:0;
    @include bp($s2){
      float:none;
    }
    @include bp($s3){
      float:none;
      clear:none;
    }
    &.bottom {
      position:absolute;
      left:0;
      bottom:0;
      top:auto;
    }

  }

  .yarpp-related-none{
    padding:0.75em 1em 0.75em 1em; 
  }
  
}

.sss-inner{
  

  background-color: rgba($blue-dark,0.85);
  //filter:blur(2px);
  @include bp($s3){
      position: absolute;
      left:0; right:0;
      top:0;bottom:0;
    }
}

.nyomjad {
  display: inline-block;
  text-align: center;
  margin:4em 2em;
  padding:1em 2em;
  //background-color: $yellow;
  border:1px solid $purple-light;
  border-radius:4px;
  color:$purple-light;
  text-transform: uppercase;
  font-size:1em;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
}
.brandi {

  position: absolute;
  bottom:1em;
  left:3em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  height:202px;
  width: 219px;
  background-image: url('../img/logo_fuggo_signos.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .25s ease;
  display: none;
  
}