html {
  font-size: 14px;
  line-height: 1.5;
  font-family: $sans-serif;
  font-weight: 300;
  @include bp($s2) {
    font-size: 16px;
  }
  @include bp($s3) {
    font-size: 18px;
  }
}

a {
  color: $link;
  &:hover, &:focus {
    color: #333;
  }
  &:active {
    color: black;
  }
}

strong, b{
  font-weight: 500;
}


p{
  .subsec-cont > &:first-child {
    font-size:1.25em;
    line-height: 1.5;
    font-weight: 300;
    //color:$purple;
    margin-top:3em;
    strong, b {
      font-weight: 300;
    }
    &:first-letter { 
      float: left;
      color: $purple;
      font-size: 3em;
      line-height: 1em;
      padding-right:0.125em;
      font-weight: 300;
      text-transform:uppercase;
      //font-family: Georgia;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  padding: 0;
  //font-family: $serif;
  font-weight: 300;
  //text-transform: uppercase;
  font-style: normal;
  line-height: 1.1;
  a {
    text-decoration: none;
    color: $blue-light;
    border: 0;
    &:hover, &:focus {
      color: $blue-dark;
    }
  }
}

h1, .h1 {
  font-size: 2.7rem;
  margin: 0;
  text-transform: uppercase;
}
h2, .h2 {
  font-size: 2.3rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
h3, .h3 { // In blog post sub sections
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 400;
  //text-transform: uppercase;
  //font-variant: small-caps;
  .main &{
    //color:$purple;
  }

}
h4, .h4 {
  font-size: 1.25rem;
  margin: 0 0 0.8rem 0;
  font-weight: 400;
  //text-transform: uppercase;
  //font-variant: small-caps;
  .main &{
    //color:$purple;
  }
}
h5, .h5 {
  font-size: 1.1rem;
  margin: 0;
  text-transform: uppercase;
}
h6 { // Not really used
  font-size: 1.0rem;
}

figure.thumbnail {
  margin: 1em 0;
  vertical-align: middle;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto;
  padding:0.75em;
  background-color: $brown-light;
}

.caption{
  font-size:0.75em;
  font-weight: 300;
  font-style: italic;
  margin-top: 0.5em;
}


img {
  vertical-align: middle;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

blockquote {
  @include clearfix();
  //background-color: $brown-light;
  //color:$brown-superlight;
  padding:0 1em;
  font-size: 1.5em;
  font-weight: 100;
  margin:1em 0;
  //text-align: center;
  font-style: italic;
  p {
    margin:0;
  }


}




  ul, ol{
    //padding-left: 0;

  }

  li{
    margin:0.666em 0;
    
  }
  
  ul li{
    list-style-type: square;
  }
  ol li{
  }



.related-entries {
  //@include clearfix();
  //padding-left:1.5em;
  li{
    margin:2em 0;
    h4{
      margin-bottom: 0;
    }
    p{
      margin-top: 0;
    }

  }
}

.btn {
  border:2px solid $purple;
  border-radius:4px;
  display: inline-block;
  padding:0.75em 1.75em;
  min-width: 8em;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.1;
  text-decoration: none;
  font-weight: 400;
  color:$purple;
  background-color: transparent;
  &:hover, &:focus {
    border-color: $purple-pot;
    color:$purple-pot;
  }
  small{
    display: block;
  } 
}

.btn-filled{
  background-color: $purple;
  border-color:$purple;
  color:#fff;


  &:hover, &:focus {
    background-color: $purple-pot;
    border-color:$purple-pot;
    color:$yellow;
  } 
}